@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

canvas {
    transform: translateY(-100%);
    position: relative;
    z-index: -5;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 100vh;
    width: 100vw;
background: rgb(42,71,126);
background: linear-gradient(-45deg, rgba(42,71,126,1) 0%, rgba(51,119,255,1) 100%); 
    position: relative;
    z-index: 0;
    /* background: linear-gradient(145deg, rgba(78,110,173,1) 0%, rgba(51,120,255,1) 100%); */
}

.section__top {
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: #f7f7f7;
}

.section__top header {
    max-width: 900px;
    max-height: 150px;
    margin: 0 auto;
}

header .title {
    font-size: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.title img {
    margin-left: 1rem;
}

.title::after {
    content: '';
    border-radius: 50%;
    transform: translateX(30%);
    height: 100px;
    width: 100px;
    background: #3378ff;
    display: block;
    position: absolute;
    right: 0;
    z-index: -5;
}

/* .title::before{
    content: '';
    border-radius: 50%;
    transform: translateX(30%);
    height: 100px;
    width: 100px;
    background: rgba(51,120,255,1);
    display: block;
    position: absolute;
    right: 0;
    z-index: -4;
} */

.title img:hover {
    -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
}

header .sub_title {
    color: rgba(255, 255, 255, 0.6);
}

header .sub_title h3:nth-child(2) {
    color: rgba(255, 255, 255, 0.45);
}

.section__bottom {
    height: 50vh;
    width: 100vw;
    z-index: 999;
}

.section__bottom .container {
    max-width: 900px;
    margin: 0 auto;
}

.panel {
    max-width: 500px;
    height: fit-content;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #f7f7f7;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(53, 53, 53, 0.08) 0px 0px 0px 1px;
}

.panel__choices {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.panel__choices li {
    max-width: 150px;
    min-height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.panel__choices li i {
    background: rgba(51,120,255,1);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    padding-top: 2.1rem;
    color: rgba(255, 255, 255, .95);
    margin: 0 auto;
    margin-bottom: 1rem;
    transition: background 250ms ease;
}

.panel__choices li i:hover {
    background: rgba(78,110,173,1);
    color: rgba(255, 255, 255, 1);
}

.panel__choices li:nth-child(even) {
    margin: 0;
}

.panel__choices li a {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: .07rem;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.753);
    font-weight: bold;
    font-family: 'Roboto';
    padding: 4px 8px;
    border-radius: 5px;
}

.panel__choices li a:hover {
    color: rgba(51,120,255,1);
}


@media screen and (max-width: 600px) {
    header {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        line-height: 1.3;
    }
    header h1 {
        line-height: 1;
        margin-bottom: 2rem;
        max-width: 17rem;
        font-size: 38px;
    }
    .panel {
        max-width: 86%;
        padding: 20px 25px;
        text-align: center;
        margin: 0 auto;
        border-radius: 50px;
    }
    .panel__choices li i{
        width: 70px;
        height: 70px;
        padding-top: 1.1rem;
    }
}

/* Wiggle */

@-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }
  
  @-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
  }
  
  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }